.git/
.github/
.idea/
scripts/
docker/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/test-classes/
*-SNAPSHOT.jar.original
*.md
LICENSE
